.filters-menu {
  position: static;
  bottom: 0;
  width: 100%;
  max-height: 60vh;
  background: white;
  border-radius: 16px 16px 0 0;
  padding: 16px;
  box-shadow: 0 -6px 24px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  animation-duration: 0.25s;
}

.mdc-dialog__content {
  padding: 0;
}
