@if (isMobile()) {
<mat-tab-group>
  <mat-tab label="To do: {{ toDoTasks.length }}">
    <ul class="tasks-list">
      @for (task of toDoTasks; track task.id) {
      <li>
        <app-task-card [task]="task" />
      </li>
      }
    </ul>
  </mat-tab>
  <mat-tab label="In progress: {{ inProgressTasks.length }}">
    <ul class="tasks-list">
      @for (task of inProgressTasks; track task.id) {
      <li>
        <app-task-card [task]="task" />
      </li>
      }
    </ul>
  </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>
      Done
      <span class="material-symbols-outlined">check</span>
    </ng-template>
    <ul class="tasks-list">
      @for (task of doneTasks; track task.id) {
      <li>
        <app-task-card [task]="task" />
      </li>
      }
    </ul>
  </mat-tab>
</mat-tab-group>
} @else {
<section class="tasks-board">
  <div class="tasks-column">
    <h3>To do</h3>
    <ul class="tasks-list">
      @for (task of toDoTasks; track task.id) {
      <li>
        <app-task-card [task]="task" />
      </li>
      }
    </ul>
  </div>
  <div class="tasks-column">
    <h3>In progress</h3>
    <ul class="tasks-list">
      @for (task of inProgressTasks; track task.id) {
      <li>
        <app-task-card [task]="task" />
      </li>
      }
    </ul>
  </div>
  <div class="tasks-column">
    <h3>Done</h3>
    <ul class="tasks-list">
      @for (task of doneTasks; track task.id) {
      <li>
        <app-task-card [task]="task" />
      </li>
      }
    </ul>
  </div>
</section>
}
