@if (isMobile()) {
<mat-tab-group>
  <mat-tab label="To do: {{ toDoTasks.length }}">
    <ng-container *ngTemplateOutlet="taskList; context: { $implicit: toDoTasks }"></ng-container>
  </mat-tab>
  <mat-tab label="In progress: {{ inProgressTasks.length }}">
    <ng-container
      *ngTemplateOutlet="taskList; context: { $implicit: inProgressTasks }"
    ></ng-container>
  </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>
      Done
      <span class="material-symbols-outlined">check</span>
    </ng-template>
    <ng-container *ngTemplateOutlet="taskList; context: { $implicit: doneTasks }"></ng-container>
  </mat-tab>
</mat-tab-group>
} @else {
<section class="tasks-board">
  <div class="tasks-column">
    <h3 class="tasks-column__header">To do: {{ toDoTasks.length }}</h3>
    <ng-container *ngTemplateOutlet="taskList; context: { $implicit: toDoTasks }"></ng-container>
  </div>
  <div class="tasks-column">
    <h3 class="tasks-column__header">In progress: {{ inProgressTasks.length }}</h3>
    <ng-container
      *ngTemplateOutlet="taskList; context: { $implicit: inProgressTasks }"
    ></ng-container>
  </div>
  <div class="tasks-column">
    <h3 class="tasks-column__header">Done <span class="material-symbols-outlined">check</span></h3>
    <ng-container *ngTemplateOutlet="taskList; context: { $implicit: doneTasks }"></ng-container>
  </div>
</section>
} @for (task of toDoTasks; track task.id) { task.title }

<ng-template #taskList let-list>
  <ul class="tasks-list">
    @for (task of list; track task.id) {
    <li>
      <app-task-card [task]="task" [class.task-card--done]="task.isDone" />
    </li>
    }
  </ul>
</ng-template>
