<app-task-form />
<section class="tasks-board">
  <div class="tasks-column">
    <h3>To do</h3>
    <ul class="tasks-list">
      @for (task of toDoTasks(); track task.id) {
      <li>
        <app-task-card [task]="task" />
      </li>
      }
    </ul>
  </div>
  <div class="tasks-column">
    <h3>In progress</h3>
    <ul class="tasks-list">
      @for (task of inProgressTasks(); track task.id) {
      <li>
        <app-task-card [task]="task" />
      </li>
      }
    </ul>
  </div>
  <div class="tasks-column">
    <h3>Done</h3>
    <ul class="tasks-list">
      @for (task of doneTasks(); track task.id) {
      <li>
        <app-task-card [task]="task" />
      </li>
      }
    </ul>
  </div>
</section>
