@use '../../../../styles.scss' as *;

.header {
  @include glass;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

  &__logo {
    width: 120px;
    height: 100%;
    flex-shrink: 1;
  }

  .header-bar {
    display: flex;
    justify-content: end;
    gap: 0.5rem;

    .search-bar {
      display: flex;
      align-items: center;
      border: 1px solid grey;
      border-radius: 2rem;

      &:has(.search-bar__input.open) {
        padding: 0 0.5rem;
      }

      &__icon {
        display: grid;
        place-items: center;
        aspect-ratio: 1/1;
        width: 40px;
      }

      &__input {
        display: none;
        outline: none;
      }

      &__input.open {
        display: inline-block;
      }
    }

    .filters-btn {
      aspect-ratio: 1/1;
      display: grid;
      place-items: center;
      width: 40px;
      padding: 0.25rem;
      border: 1px solid grey;
      border-radius: 50%;
    }

    .add-task-btn {
      min-width: 0;
      padding: 4px;

      &__icon {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 800;

        .material-symbols-outlined {
          font-weight: 800;
          font-size: 2rem;
        }
      }

      &__text {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    height: 7rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem;

    .add-task-btn-wrapper {
      width: auto;
      height: auto;
      padding: 0;

      .add-task-btn {
        width: 3rem;
        height: 3rem;
        position: relative;
        border-radius: 8px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: width 0.3s ease;

        &:hover {
          width: 12rem;
          justify-content: space-between;
        }

        .add-task-btn__text {
          position: absolute;
          top: 50%;
          left: calc(3rem + 0.6rem);
          font-size: 1.2rem;
          transform: translateX(2rem) translateY(-50%);
          white-space: nowrap;
          transition: transform 0.35s ease;
          pointer-events: none;
        }

        &:hover .add-task-btn__text {
          left: 2.4rem;
          transform: translateX(0) translateY(-50%);
          pointer-events: auto;
        }

        .add-task-btn__icon {
          position: absolute;
          top: 50%;
          // transform: translate(-2rem, -50%);
          display: flex;
          align-items: center;
          transform: translateY(-50%);
          margin-right: 0;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1;
          right: -1rem;
        }

        &:hover .add-task-btn__icon {
          left: 0.1rem;
          transform: translateX(0) translateY(-50%);
        }
      }
    }

    &__logo {
      width: 240px;
    }
  }
}

.mdc-button__label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
