<article class="task-card" [class.task-card--done]="task().isDone()">
  <mat-expansion-panel hideToggle (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
    <!-- class="mat-expanded" -->
    <mat-expansion-panel-header>
      <mat-panel-title class="panel">
        <div class="task-card__title-row">
          @if (!isPanelOpen) {
          <h4 class="task-card__title_collapsed">
            <span class="title-line title-line--{{ task().priority() }}"></span>
            {{ task().title() }}
          </h4>
          } @else {
          <div class="task-header-placeholder">
            <div class="priority-wrapper" #priorityBlock stopExpansion>
              <span
                class="priority-badge priority-badge--{{ task().priority() }}"
                (click)="togglePriorityDropdown()"
              >
                {{ task().priority() }}
                <span class="task-card__status-arrow">▾</span>
              </span>
            </div>

            <div class="task-card__meta">
              <span class="task-card__meta-item">Created: {{ task().createdAt }}</span>
              @if (task().doneAt()) {
              <span class="task-card__meta-item">Done: {{ task().doneAt() }}</span>
              }
            </div>
          </div>
          }
          <span class="task-card__due-date">{{ dueStatus() }}</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="priority-dropdown-wrapper" [class.open]="priorityDropdownOpen()">
      <ul class="priority-dropdown-list">
        @for (priority of availablePriorities(); track $index) {
        <li
          class="priority-badge priority-dropdown-item priority-badge--{{ priority }}"
          (click)="changePriority(priority)"
        >
          {{ priority }}
        </li>
        }
      </ul>
    </div>

    <div class="task_header">
      @if (!isEditingTitle()) {
      <h4 class="task-card__title" (click)="editTitle()" #title stopExpansion>
        {{ task().title() }}
      </h4>
      } @else {
      <textarea
        class="task-card__edit-input"
        [class.active]="isEditingTitle()"
        [(ngModel)]="editModel.title"
        (keydown.enter)="saveEdit()"
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="3"
        stopExpansion
        #titleInput
      ></textarea>
      }
    </div>
    <div class="task__meta"></div>

    <div class="task-card__divider"></div>

    <div (click)="editDescription()" #description>
      @if (!isEditingDescription()) { @if (task().description()) {
      <p class="task-card__description">{{ task().description() }}</p>
      } @else {
      <p>Add description…</p>
      } } @else {
      <div class="task-card__edit-wrapper">
        <textarea
          class="task-card__edit-input description-input"
          [(ngModel)]="editModel.description"
          (keydown.enter)="saveEdit()"
          autofocus
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="0"
          cdkAutosizeMaxRows="5"
          stopExpansion
          #descriptionInput
        ></textarea>
      </div>
      }
    </div>

    <div class="task-card__divider"></div>

    <div class="task-card__actions">
      <div class="task-card__status-control">
        @for (status of availableStatuses(); track $index) {
        <span
          class="task-card__status-badge task-card__status-badge--{{ statusClassMap[status] }}"
          [class.task-card__current-status]="task().status() === status"
          (click)="changeStatus(status)"
        >
          <span class="material-symbols-outlined"> {{ statusIcons[status] }} </span>

          {{ status }}
        </span>
        }
      </div>
      @if (isEditing()){
      <div class="task-card__edit-actions" stopExpansion>
        <button class="task-card__btn-save" (click)="saveEdit()">
          <span class="material-symbols-outlined">check</span>
          Save
        </button>
        <button class="task-card__btn-cancel" (click)="cancelEdit()">
          <span class="material-symbols-outlined">close</span>
          Cancel
        </button>
      </div>
      } @if (!isEditing()){

      <button class="task-card__btn--delete" (click)="deleteTask()">
        <span class="material-symbols-outlined"> delete </span>Delete
      </button>
      }
    </div>
  </mat-expansion-panel>
</article>
