<article class="task-card" [class.task-card--done]="task().isDone()">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <div class="mat-header-wrapper">
        <mat-panel-title>
          <!-- <header class="task-card__header"> -->
          <div class="task-card__title-row">
            @if (!isEditing()) {
            <h4 class="task-card__title">{{ task().title() }}</h4>
            } @else {
            <input class="task-card__edit-input" [(ngModel)]="editModel.title" stopExpansion />
            <div class="task-card__edit-actions" stopExpansion>
              <button class="task-card__btn-save" (click)="saveEdit()">
                <span class="material-symbols-outlined">check</span>
              </button>
              <button class="task-card__btn-cancel" (click)="cancelEdit()">
                <span class="material-symbols-outlined">close</span>
              </button>
            </div>
            }

            <div class="priority-wrapper" #priorityBlock>
              <span
                class="priority-badge priority-badge--{{ task().priority() }}"
                (click)="togglePriorityDropdown()"
              >
                {{ task().priority() }}
                <span class="task-card__status-arrow">▾</span>
              </span>

              @if (priorityDropdownOpen()) {
              <ul class="priority-dropdown-list">
                @for (priority of availablePriorities(); track $index) {
                <li
                  class="priority-dropdown-item priority-badge--{{ priority }}"
                  (click)="changePriority(priority)"
                >
                  {{ priority }}
                </li>
                }
              </ul>
              }
            </div>
          </div>
          <!-- </header> -->
        </mat-panel-title>
      </div>
    </mat-expansion-panel-header>
    <div class="task-card__divider"></div>
    @if (!isEditing()) {
    <p class="task-card__description">{{ task().description() }}</p>
    } @else {
    <input class="task-card__edit-input-description" [(ngModel)]="editModel.description" />
    }

    <div class="task-card__status-control" #statusBlock>
      <button class="task-card__status-btn" (click)="toggleStatusDropdownOpen()">
        Change status
        <span class="task-card__status-arrow">▾</span>
      </button>

      @if (statusDropdownOpen()) {
      <ul class="task-card__status-list">
        @for (status of availableStatuses(); track $index) {
        <li class="task-card__status-item" (click)="changeStatus(status)">
          {{ status }}
        </li>
        }
      </ul>
      }
    </div>

    <span class="task-card__status-badge">{{ task().status() }}</span>

    <div class="task-card__meta">
      <span class="task-card__meta-item">Created: {{ task().createdAt }}</span>
      @if (task().doneAt()) {
      <span class="task-card__meta-item">Done: {{ task().doneAt() }}</span>
      }
    </div>

    <span class="task-card__changes-btn" (click)="editTask()">
      <span class="material-symbols-outlined">edit</span>
    </span>

    <div class="task-card__actions">
      <button class="task-card__btn task-card__btn--delete" (click)="deleteTask()">Delete</button>
    </div>
  </mat-expansion-panel>
</article>
